.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    width: 350px;
    height: 350px;
    padding-top: 100px;
}

.timer {
    font-size: 70px;
    margin-top: -200px;
}

.areaBtn {
    margin-top: 120px;
    display: flex;
}

.btnGo, .btnLimpar{
    width: 150px;
    background-color: #FFF;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    padding: 5px;
}

.btnGo:hover {    
    color: lightgreen;
    transition: all 0.50s;
}

.btnLimpar {
    color: lightcoral;
    transition: all 0.50s;
}
